<div class="messages-list">
    <h3>Chats</h3>

    <ng-container
        *ngIf="filteredChats.length > 0 || !searchString; else noChats"
    >
        <app-preview-chat
            *ngFor="let chat of chats | filter: searchString:'name'"
            [previewData]="chat"
            [messageCount]="newMessages.get(chat.id) || 0"
        >
        </app-preview-chat>
    </ng-container>
    <ng-template #noChats>
        <span class="chats-notFound">chats not found :(</span>
    </ng-template>
</div>
