<header class="header">
    <div class="container">
        <div class="header__content">
            <app-profile-logo
                [online]="true"
                [image]="'../../../../assets/img/girl.jpg'"
            ></app-profile-logo>
            <!-- <span class="header__content-logo icon-profile"></span> -->
            <div class="header__content-search">
                <div class="search-logo icon-search"></div>
                <input
                    type="text"
                    class="search-input"
                    placeholder="Search..."
                />
            </div>
        </div>
    </div>
</header>
