<header class="header">
    <div class="container">
        <div class="header__content">
            <app-profile-logo
                [online]="true"
                [image]="'../../../../assets/img/girl.jpg'"
            ></app-profile-logo>

            <div class="header__content-search">
                <div class="search-logo icon-search"></div>
                <input
                    (keyup)="onSearch(name.value)"
                    #name
                    type="text"
                    class="search-input"
                    placeholder="Search..."
                />
            </div>

            <div class="logout" (click)="logout()">
                <span class="icon-exit"></span>
            </div>
        </div>
    </div>
</header>
