.prew-text {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;

    max-width: 350px;
    margin: 0 auto;

    h3 {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .prew-text {
        display: flex;
    }
}
