<div class="chat" *ngIf="chat">
    <div class="chat-content">
        <div class="chat-header">
            <div class="container">
                <div class="chat-name">
                    <app-profile-logo
                        [image]="chat.image"
                        [online]="true"
                    ></app-profile-logo>
                    <div class="name">
                        {{ chat.name }}
                        <div class="loader-block" *ngIf="getTypingPerson()">
                            <app-typing-loader></app-typing-loader>
                        </div>
                    </div>

                    <span class="chat-back" (click)="backToList()"> < </span>
                </div>
            </div>
        </div>

        <div class="chat-main">
            <div class="container">
                <div class="chat-block">
                    <app-message
                        [senderImage]="chat.image"
                        [message]="message"
                        *ngFor="let message of chat.messages"
                    ></app-message>
                </div>
            </div>
        </div>

        <div class="chat-send">
            <div class="container">
                <form
                    (ngSubmit)="onSubmit(sendForm)"
                    #sendForm="ngForm"
                    class="send-block"
                >
                    <input
                        ngModel
                        required
                        name="messageField"
                        placeholder="Type your message"
                        type="text"
                        class="input-send"
                        autocomplete="off"
                    />
                    <button
                        type="submit"
                        [disabled]="!sendForm.valid"
                        class="send-btn"
                    >
                        <span type="submit" class="icon-send"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
