@import "../../../styles/variables.scss";

.chat {
    height: 100vh;

    &-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &-header,
    &-send {
        background-color: $background;
        padding: 14px 0;
    }

    &-name {
        display: flex;
        align-items: center;

        .name {
            margin-left: 15px;
            color: #000;
            position: relative;

            .loader-block {
                position: absolute;
                bottom: -15px;
            }
        }
    }

    &-main {
        flex-grow: 1;
        height: 100%;
        padding: 30px 0px;
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        background-color: #fafafa;
        scrollbar-color: $text-color transparent;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 9px;
            /* ширина для вертикального скролла */
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $text-color;
        }

        .chat-block {
            flex-direction: column;
            display: flex;
        }
    }
}

.chat-send {
    flex: 0 0 auto;

    .send-block {
        position: relative;
        max-width: 280px;
        overflow: hidden;

        .input-send {
            width: 100%;
            border-radius: $border-radius;
            border: 2px solid $text-color;
            padding: 10px 45px 10px 15px;
        }

        .send-btn {
            cursor: pointer;
            position: absolute;
            top: 50%;
            padding: 10px 15px;
            background-color: transparent;
            transform: translateY(-50%);
            right: 0;
            transition: 0.2s;

            &:hover {
                color: #3c4153;
            }
            &:disabled {
                cursor: default;
                color: rgba($color: $text-color, $alpha: 0.4);
            }
        }
    }
}

@media (min-width: 768px) {
    .chat-send {
        padding: 25px 0;
        .send-block {
            max-width: 100%;
        }
    }
}
