@import "../../../styles/variables.scss";

.new-not {
    text-align: center;
    color: #000;

    span {
        border-radius: 50%;
        font-size: 10px;
        background-color: #9bdde6;
        padding: 5px 10px;
    }
}
