@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import './app/styles/normalize.scss';
@import './app/styles/variables.scss';
@import './app/styles/container.css';
@import './app/styles/icon-fonts.css';


body {
    font-family: "Poppins", sans-serif;
    color: $text-color;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
}

.wrapper{
    position: relative;
}